name: ChatOps
on:
  issue_comment:
    types: [created]

permissions: {} # No permissions by default

jobs:
  get-sha-commit:
    name: Get SHA commit
    env:
      COMMENT_CREATED_AT: ${{ github.event.comment.created_at }}
    if: github.event.issue.pull_request && github.event.comment.body == '/ok-to-test'
    runs-on: ubuntu-latest
    outputs:
      head: ${{ steps.get-sha-commit.outputs.head }}
    steps:
      - name: Get sha commit
        id: get-sha-commit
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |

            const response = await github.rest.pulls.get({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.issue.number,
            })

            const commentTime = new Date(process.env.COMMENT_CREATED_AT);
            const prTime = new Date(response.data.head.repo.pushed_at)
            
            console.log('Comment Time:', commentTime);
            console.log('PR Time:', prTime);
            console.log('SHA that will be used:', response.data.head.sha);

            core.setOutput('head', response.data.head.sha)

  test-workload:
    name: test-workload
    needs: [get-sha-commit]
    runs-on: ubuntu-latest
    steps:
      - name: Print SHA
        run: echo "SHA that will be used for build - ${{ needs.get-sha-commit.outputs.head }}"

